
.treino{
  max-width: 500px;
  margin-left: 30px;

    .button1{
        width: 200px;
        height: 130px;
        margin: 0px 10px;
        background-color: #f6f6f6;
        border-radius: 5px;
        border: 1px #f6f6f6;
      }
      .amarelo{
        width: 50px;
        margin: 13px 0px 0px;
      }
      
      .h3-amarelo{
        font-size: 13px;
      }

}